{{ $type := .Site.Params.seo.jsonldType | default "Organization" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ $type }}",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}"
  {{- with .Site.Params.seo.ogImage -}}
  ,"image": "{{ . | absURL }}"
  {{- end -}}
  {{- if .Site.Params.footer.social -}}
  ,"sameAs": [
    {{- range $i, $s := .Site.Params.footer.social -}}
    {{- if $i }},{{ end }}"{{ $s.url }}"
    {{- end -}}
  ]
  {{- end -}}
}
</script>
